env/
build/
dist/
*.egg-info/
*.pyc
.tox/
.coverage
.cache
testsAT/_ajdump
testsAT/target
coverage-reports
failsafe-reports
pylint-report.txt
.idea/dcos-valkiria.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
coverage-reports/
coverage.ut
surefire-reports/
